<section class="container">
    <div class="row oe_spaced">
        <div class="col-md-12">
            <h2 class="oe_slogan">Project Scrum</h2>
            <h3 class="oe_slogan">Attractive Dashboard</h3>
        </div>
        <div class="col-md-6">
            <img class="oe_screenshot" src="dashboard.png" width="350" height="350"
                alt="This should be the picture of Dashboard"/>
        </div>
        <div class="col-md-6">
            <p class="oe_mt16 text-justify" style="font-size: 15px;">
            You can see the burndown chart of sprint as well as tasks
            related to particular sprint. User can also use smart buttons for
            traversing Projects, Sprints, Tasks and Stories</p>
        </div>
    </div>
</section>

<section class="container">
    <div class="row oe_spaced">
        <div class="col-md-12">
            <h3 class="oe_slogan">Sprint</h3>
        </div>
        <div class="col-md-6">
            <p class="oe_mt16 text-justify" style="font-size: 15px;">A scrum sprint is a regular, repeatable work cycle in scrum
            methodology during which work is completed and made ready for review. Scrum sprints are
            basic units of development in the scrum methodology. Generally sprints are 1-2 week(s) long...</p>
        </div>
        <div class="col-md-6">
            <div class="oe_demo oe_picture oe_screenshot ml16">
                <img src="sprint.png" width="110%" height="300" alt="Sprint"/>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="row oe_spaced">
        <div class="col-md-12">
            <h3 class="oe_slogan">Release Planning</h3>
        </div>
        <div class="col-md-6">
            <div class="oe_demo oe_picture oe_screenshot ml16">
                <img src="release_planning.png" alt="Release Planning"/>
            </div>
        </div>
        <div class="col-md-6">
            <p class="oe_mt16 text-justify" style="font-size: 15px;">
                A very high-level plan for multiple Sprints (e.g. three to twelve iteration) is created during the Release planning. It is a guideline that reflects expectations about which features will be implemented and when they are completed. It also serves as a base to monitor progress within the project.
            </p>
        </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="row oe_spaced">
        <div class="col-md-12">
            <h3 class="oe_slogan">Story</h3>
        </div>
        <div class="col-md-6">
            <p class="oe_mt16 text-justify" style="font-size: 15px;">
                User Stories are managed in the Product Backlog. The User Stories are ordered according to priority. The most prioritized user stories are refined to granular level, while the least priority user stories are kept at a lesser detail level. For every sprint, the most prioritized and hence more granulated user stories are taken into the sprint backlog. If a user story is to be added to the product backlog, its priority is first determined, and it is placed according to its place as per the priority.
            </p>
        </div>
        <div class="col-md-6">
            <div class="oe_demo oe_picture oe_screenshot ml16">
                <img src="story.png" alt="Story"/>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <div class="row oe_spaced">
        <div class="col-md-12">
            <h3 class="oe_slogan">Team</h3>
        </div>
        <div class="col-md-6">
            <div class="oe_demo oe_picture oe_screenshot ml16">
                <img src="team.png" alt="Team"/>
            </div>
        </div>
        <div class="col-md-6">
            Within the Scrum Framework all work delivered to the customer is done by dedicated Scrum Teams. A Scrum Team is a collection of individuals working together to deliver the requested and committed product increments.
        </div>
    </div>
</section>

<section class="container">
    <div class="row oe_spaced">
        <div class="col-md-12">
            <h3 class="oe_slogan">Retrospective</h3>
        </div>
        <div class="col-md-6">
            The sprint retrospective is a meeting facilitated by the ScrumMaster at which the team discusses the just-concluded sprint and determines what could be changed that might make the next sprint more productive. The sprint review looks at what the team is building, whereas the retrospective looks at how they are building it.
        </div>
        <div class="col-md-6">
            <div class="oe_demo oe_picture oe_screenshot ml16">
                <img src="retro.png" alt="Retrospective"/>
            </div>
        </div>
    </div>
</section>
